body { background-color: #000; cursor: context-menu; animation: fadeInAnimation ease 1.5s; animation-iteration-count: 1; animation-fill-mode: forwards;
}
	@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
	body,td { font: 13px Helvetica Neue, Helvetica, Arial Narrow, Arial; font-weight: 400; color: #1a303d; padding: 0; margin: 0; }
	ul {list-style: none none; margin: 0; padding: 0; display: block; }
	
	a,a:link { color: #79cef4; text-decoration: none; }
	table {border: 1px solid transparent;}
    table:hover { border: 1px solid #315970; }   
	td { padding: 2px 2px; text-align: center; border-bottom: 1px solid #315970; border-width: 1px 0;}
	tr:last-child td { border-bottom-width: 0; }
	
	tr.header td { font-family: 'Roboto Mono', monospace;  padding: 10px 4px; font-size: 23px; font-weight: 400; color: #287099; }
	tr.header td i { font-size: .4em; font-weight: 200; font-style: normal; }

	li{ font-family: 'Roboto Mono', monospace; font-size: 14px; padding: 1px 0px 0px 0px;}
	.items li { margin: 3px 0px;}
	.items li.current span { text-shadow: 0px 0px 8px #79cef4; }
	.arrows li { margin: 5px 0px; color: #333; }
	.items li span { white-space: nowrap; cursor: pointer; background-color: rgba(0,0,0,0.60); border-radius: 3px; padding: 1px 2px; }	
	tr.footer { display: none; }

	.footer {
   position: absolute;
   width: 220px	;
   right: 0%;
	top: 0%;
	font-size: 20px;
   text-align: center;
}

.bot {
	font-size: 15px;
	color: black;
	font-weight: bold;
	background-color: #1e3644;
	padding: 3px 5px;
}

table .bot:hover {
	border: none;
	background-color: #315970;
}

.botime {
	font-size: 15px;
	color: black;
	font-weight: bold;
	background-color: #315970;
	padding: 3px 5px;
	}

	.numbers{ font-family: 'Roboto Mono', monospace; font-size: 14px;}

	.vertical 	{writing-mode: vertical-rl;	text-orientation: sideways-right; margin-right: -25; background-color: rgba(0,0,0,0.01) !important;}

/*
	tr.footer td { color: #111; }
	.p1 td,.p2 td,.p3 td,.p4 td,
	.p1,.p2,.p3,.p4 { font-weight: 900 !important; }
	.p1.current,.p2.current,.p3.current,.p4.current,
	.p1.current td,.p2.current td,.p3.current td,.p4.current td { color: red; }
*/
	#canvas { z-index: 1; display: block; position: absolute; left: 13%; top: 70; background-color: transparent; }
	#pi { z-index: 2; border-collapse: collapse; position: relative; left: 13%; top: 70; }